<form asp-action ="Index">
    <p>
        <label>Hệ số A: </label>
        <input type="text" name="Hệ số A:">
    </p>

     <p>
        <label>Hệ số B: </label>
        <input type="text" name="Hệ số B:">
    </p>

    <p>
        <label>Hệ số C: </label>
        <input type="text" name="Hệ số C:">
    </p>

    <p>
             <input type="Submit" value="Giải phương trình bậc 1">
    </p>

</form>

<h2>@ViewBag.thongBao</h2>