<form asp-action ="Index">
    <p>
        <label>hệ số A: </label>
        <input type="text" name="Hệ số A:">
    </p>

     <p>
        <label>hệ số B: </label>
        <input type="text" name="Hệ số B:">
    </p>

    <p>
             <input type="Submit" value="Save">
    </p>

</form>

<h2>@ViewBag.message</h2>