<form asp-action="RemoveVietese">    
        <label>Nhập Chuỗi: </label>
        <input type="text" name="strInput">
        <input type="Submit" value="RemoveVietnamese">    
</form>
<h2>@ViewBag.thongBao</h2>